version: '3.8'

services:
  airflow-spark:
    build:
      context: .
      dockerfile: Dockerfile
    image: sde-decourse-airflow-spark
    container_name: airflow-spark
    ports:
      - "8080:8080"   # Airflow webserver
      - "4040:4040"   # Spark UI
      - "8888:8888"   # Jupyter Lab
    volumes:
      - ./airflow/dags:/home/airflow/dags
      - ./airflow/tpch_analytics:/home/airflow/tpch_analytics
      - ./notebooks:/home/airflow/notebooks
      - ./README.md:/home/airflow/README.md
